.bookList {
  display: flex;
  width: 100%;
}

.mainContainer {
  width: 500px;
}

.bookListContainer {
  width: 500px;
}

body {
}

.book-card {
  flex: 1;
  padding: 10px;
}

.book-cover {
  margin: 10px;
}
