.bookList {
  display: flex;
  width: 100%;
}

.mainContainer {
  width: 500px;
}

.bookListContainer {
  width: 500px;
}

.book-card {
  flex: 0 0 auto;
  padding: 10px;
}

.book-cover {
  margin: 10px;
}

.ui.card,
.ui.cards > .card {
  background-color: #f4f3ee !important;
}

body {
  background-color: #463f3a !important;
}

.ui.segment {
  background-color: #bcb8b1 !important;
}

.ui.header {
  color: #463f3a !important;
}

.add-book-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.back-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
